.cr-container{
	width: 270px;
    max-width: 270px;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.2);	
}
.cr-container.cr-checkout{
	width: auto;
}
.cr-container-header{
	text-indent: -9999px;
	background: url("../images/shopping_header_sprite.png") no-repeat scroll 4px -230px #e1e1e1;
    height: 30px;
}
.cr-body{
	background-color: #fafafa;
	padding-top: 20px;
	padding-bottom: 20px;
	float:left;
	width: 100%;
}

#couponAndRewardDiv #cr-header .header-sec-first-child {
	width:45%; 
}
#couponAndRewardDiv #cr-header .header-sec-sec-child img{
	padding-right:5px;
}


#couponAndRewardDiv fieldset {
  border: none;
  margin: 0 2px;
  padding: 0.35em 0em 0.75em;
 }
 
 #couponAndRewardDiv .cr-coupon .cr-coupon-input-sec {
    
    text-align: right;
    float: left;
 }
 
  #couponAndRewardDiv .cr-coupon input[type="button"] {
  	height:27px;
  }
.cr-info-list ul{
	margin: 0;
	padding: 0;
}
.cr-info-list ul li{
	list-style: none;
	padding: 8px 10px 0 15px;
}
.cr-info-msg {
	border: 1px solid #2060ca;
	font-family: Helvetica;
	color: #2060ca;
	padding: 8px;	
	border-color: #2060ca;
    color: #2060ca;
    background: #f4f4f4 url("../images/info.svg") 0.75rem 0.75rem no-repeat;
    font-size: .75rem;
    margin-bottom: 0;
    margin-top: .5rem;
    padding: .5rem .5rem .5rem 2rem;
    background-size: 1rem 1rem;
    background-position: .5rem .5rem;
}
.cr-info-msg img{
	float: left;
	margin-right: 7px;
}
.cr-coupon-container{
	margin-top: 15px;
}
.cr-coupon{
    padding: 0 15px;
}
.cr-coupon input[type="text"]{
	width: 215px;
	height: 30px;
	background-color: #ffffff;
	border: solid 1px #666666;
	padding-left: 10px;
	font-family: Helvetica;
	font-size: 12px;
	color: #666666;
}
.cr-coupon input[type="text"].disabled{
	background-color: #eeeeee;
}
.cr-coupon input[type="text"].error,
.cr-serial input[type="text"].error{
	border: 1px solid #cc0000;
}
.cr-serial{
    padding: 0 15px;
    margin-top: 10px;
    display: none;
}
.cr-serial input[type="text"]{
	width: 186px;
	height: 30px;
	background-color: #ffffff;
	border: solid 1px #666666;
	padding-left: 10px;
	font-family: Helvetica;
	font-size: 12px;
	color: #666666;
	margin-left: 30px;
}

.cr-error-red{
	font-family: Helvetica;
	font-size: 12px;
	color: #cc0000;
	margin-bottom: 5px;
	display: none;
}

.cr-error-rewards-red{
	font-family: Helvetica;
	font-size: 12px;
	color: #cc0000;
	margin-bottom: 5px;
	margin-left: 30px;
	display: none;
}

.cr-apply, .cr-change{
	width: 62px;
	height: 30px;
	border-radius: 3px;
	background-image: linear-gradient(to bottom, #9f9f9f, #666666);
	box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.4);
	border: none;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.cr-checkout .cr-captcha{
	margin-left: 25px;
}
.cr-captcha{
	margin-left: 4px;
	margin-top: 10px;
}
.cr-signin-container{
	margin-top: 20px;
	padding: 0 15px;
	overflow: hidden;
}
a.cr-signin {
    text-decoration: none;
}
.cr-signin{
	width: 130px;
    font-size: 12px;
    color: #1a48be;
    font-weight: bold;
    float: left;
}
#find_coupon_link.cr-button-coupon{
    border-radius: 2px;
    background-color: #03588c;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.4);
    border: none;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    margin-left: 45px;
    margin-right: 2px;
    text-transform: uppercase;
    padding: 7px 11px;
    text-decoration: none;
    display: inline-block;
    line-height: 18px;
}
.cr-couponapplied-container,.cr-rewardapplied-container,.cr-rewardavailable-container {
	margin-top: 35px;
	float: left;
}
.cr-couponapplied-container, .cr-rewardavailable-container {
	padding: 0 12px ;
}
.cr-couponapplied-heading,.cr-rewardapplied-heading,.cr-rewardavailable-heading{
	border-bottom: 1px solid #cccccc;
}
.cr-heading-bold{
	font-size: 14px;
	color: #333333;
	font-weight: bold;
}
.cr-subheading{
	color: #666;
	font-family: Helvetica;
	font-size: 11px;
	margin-left:12px;
}
.cr-checkout .cr-subheading{
	float: right;
}
.cr-couponapplied-container ul,.cr-rewardapplied-container ul,.cr-rewardavailable-container ul{
	margin: 0;
	padding: 0;
	float: left;
}
.cr-coupondetail-container li,
.cr-rewarddetail-container li,
.cr-rewardavaldetail-container li{
	list-style: none;
	float: left;
	padding-top: 5px;
	font-family: Helvetica;
	font-size: 12px;
	color: #333333;
}
.cr-rewardavaldetail-container li {
	line-height: 18px;
}
.cr-coupondetail-container li form,
.cr-rewarddetail-container li form,
.cr-rewardavaldetail-container li form{
	padding-bottom: 0px;
	border-bottom: 0px;
}
.cr-couponname,.cr-rewardname,.cr-rewardavalname{
	width: 190px;
	float: left;
}
.cr-couponprice,.cr-rewardprice{
	width: 58px;
	float: left;
}
.cr-remove,.cr-rewardsapply{
	color: #2060ca;
	font-weight: bold;
	float: left;
	text-decoration: none;
}
.cr-rewardavailable-container{
	width: 295px;
}
.cr-checkout .cr-rewardavailable-container{
	width: auto;
}
.cr-rewardavalprice{
	width: 65px;
	float: left;
}
.cr-expdate{
	color:#666;
	float: left;			
}
ul.cr-rewardavaldetail-container li:nth-child(n + 2) {
	margin-top: 20px;
}
.cr-rewardaval-error {
  	border: 1px solid #2060ca;
    font-family: Helvetica;
    font-size: 13px;
    color: #2060ca;
    padding: 8px;
    float: left;
    display: block;
    margin: 15px 0 0 0;
    
}

.cr-rewardaval-error img{
	float: left;
	margin-right: 7px;
}
.bp-shipping-right-panel {
    width: 325px !important;
}
.cr-rewarddetail-container > div.cr-rewardapplied-heading, .cr-rewarddetail-container > li {
	margin-left: 12px;
}
.cr-checkout .cr-coupon input[type="text"] {
	width: 255px;
}
.cr-checkout .cr-serial input[type="text"] {
    width: 226px;
}
.cr-checkout .cr-rewardapplied-heading {
	width: 335px;
}
.cr-checkout .cr-rewardavalname {
    width: 240px;
}
.cr-checkout .cr-rewardname,
.cr-checkout .cr-couponname{
    width: 230px;
}

#colorbox, #cboxOverlay, #cboxWrapper, #cboxOverlayIframe { position: absolute; top: 0; left: 0; z-index: 99999; overflow: hidden; }
#cboxOverlay, #cboxOverlayIframe { position: fixed; width: 100%; height: 100%; }
#cboxOverlay, #cboxOverlayIframe { background: #8f9397; }

#couponCodeForm .promo_code #promoCodeLabel {
    cursor: default;
}
.serial_number #serialCodeLabel {
    cursor: default;
}

#find_coupon_link {
font-family: 'Helvetica';
font-weight: 400;
font-style: normal;
font-size: 12px;
color: #2A5A97;
line-height: 25px;
margin-left: 15px;
cursor: pointer;
}
.find_coupon_modal-container {
z-index: 1002;
width: 994px;
left: 215.5px;
top: -122.5px;
background-color: #ffffff;
}
.find_coupon_modal_title {
position: absolute;
left: 0px;
top: 0px;
width: 1015px;
height: 30px;
color: #FFFFFF;
background: url(../images/modal_header_bar.png);
}
.find_coupon_modal_title span {
font-family: 'Helvetica', 'Arial', 'Sans-serif';
font-size: 18px;
color: #ffffff;
text-align: left;
line-height: 30px;
margin-left: 20px;
}
#find_coupon_modal_closebtn {
position: absolute;
left: 996px;
width: 30px;
height: 30px;
background: url(../images/closebtn.png);
background-size: 16px 16px;
background-position-y: 7px;
background-repeat: no-repeat;
}
.find_coupon_modal-container .container{
height: 550px;
margin-top: 31px;
}
.find_coupon_modal-container .container .coupon-wrapper .coupons{
margin-left: 0px;
}
.find_coupon_modal-container .container .coupon-wrapper{
width:auto !important;
}
.find_coupon_modal-container .flt_wdt,
.find_coupon_modal-container #search_text {
  margin-left:15px;
}
.coupon_iframe_cntr{
background-color:#ffffff;
}
.coupon_iframe_cntr iframe {
width:1015px !important;
margin-bottom: 5px;
margin-top: 31px;
}

.coupon-wrapper { width: 960px; height: auto; position: relative;}
.coupon-wrapper .section-bar { margin-left: 15px; width: 960px; height: 1.8em; background-color: #e1121a; clear:both; }
.coupon-wrapper .section-bar p { color: #fff; font-size: 1.4em; margin-left: 1em; padding-top: .2em; text-transform: uppercase; line-height: 1em;}
.coupon-wrapper .coupons { margin-left: -15px; }
.coupon-wrapper .coupons .coupon { width: 287px; border: 1px dashed #999; padding: 10px; margin: 20px 0px 20px 15px; font-family: arial,helvetica,sans-serif; color: #666;}
.coupon-wrapper .coupons .coupon a {color: #2A5A97;}
.coupon-wrapper .coupons .coupon .grey12 { font-size:12px; line-height: 12px; font-weight:400;}
.coupon-wrapper .coupons .coupon .grey14 { font-size:14px; line-height: 14px; }
.coupon-wrapper .coupons .coupon .offer { font-size: 22px; line-height: 22px; color:#CC0000; font-weight:bold; }