#cboxContent{
  border-radius:2px;
}
.jcp-rw-order-confirm-wrap{
  padding:1rem;
  border:none;

  .jcp-rw-thankyou-modal-head{
    background:#fff;
    border-bottom:1px solid #ccc;
    padding:0 0 .5rem 0;
    margin-bottom:1rem;
    color:#333;
    height:auto;
    font-weight:bold;

    img{
      float:right;
    }
  }
  .jcp-rw-order-confirm-thankyou{
    padding:0;
  }
  h1{
    font-size:24px;
    color:#333;
    margin:0;
  }
  h5{
    font-size:16px;
    color:#666;
    margin:0;
  }
  .jcp-rw-enroll-points-wrap{
    border-bottom:1px solid #ccc;
    padding-bottom:1rem;

    .jcp-rw-points-lhs,
    .jcp-rw-points-rhs{
      margin:0;

      .jcp-rw-enroll-points{
        list-style-type:none;
        margin:1rem 0 0 0;

        li{
          font-size:14px;
          color:#333;
          margin-bottom:1rem;

          img{
              height:1rem;
              width:auto;
              vertical-align:bottom;
          }
        }
      }
    }
    .jcp-rw-points-rhs{
      margin-left:2rem;
    }
  }
  .jcp-rw-order-item-label{
    font-size:16px;
    font-weight:bold;
    color:#333;
    margin:0;
  }
  .jcp-rw-dk-Grey{
    margin:0;
    color:#666;
    font-size:16px;
  }
  .thankyou-pwd-container{
    margin-top:1rem;

    .left_half,
    .right_half{
      width:53%;
      float:left;
    }
    .left_half{
      width:40%;

      #password{
        background: url('./CreateAcctModal_files/icon-show-password.png') no-repeat 95% center;
      }
      .input-wrapper{
        margin-top:1rem;

        label{
          float:left;
          font-size:12px;

          p{
            display:none;
            position:absolute;
            border: 1px solid #ccc;
            padding: .5rem;
            width: 163%;
            border-radius: 2px;
            background: #fff;
            box-shadow: 1px 1px 4px rgba(0,0,0,0.1);

            &:after,
            &:before{
              bottom: 100%;
            	left: 6%;
            	border: solid transparent;
            	content: " ";
            	height: 0;
            	width: 0;
            	position: absolute;
            	pointer-events: none;
            }
            &:after{
              border-color: rbga(0,0,0,0);
            	border-bottom-color: #fff;
            	border-width: 8px;
            	margin-left: -8px
            }
            &:before{
              border-color: rgba(0,0,0,0);
            	border-bottom-color: #ccc;
            	border-width: 9px;
            	margin-left: -9px;
            }
          }
        }
        label:hover>p{
          display:block;
        }
      }
    }
    .right_half{
      margin-left:2rem;
      border:1px solid #ccc;
      padding:1rem;
      position: relative;
      border-radius:2px;
      position:relative;
      top:-30px;

      label{
        font-size:12px;
        font-weight:bold;
      }
      .minReq,
      .notInclude{
        margin:.25rem 0 0 0;

        li{
          font-size:12px;
          color:#666;
        }
      }
      .pwd_strength{
        font-weight:normal;
        font-size:12px;
      }
      &:after,
      &:before{
        right: 100%;
      	top: 20%;
      	border: solid transparent;
      	content: " ";
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
      }
      &:after{
        border-color: rgba(136, 183, 213, 0);
      	border-right-color: #fff;
      	border-width: 20px;
      }
      &:before{
        border-color: rgba(204, 204, 204, 0);
      	border-right-color: #ccc;
      	border-width: 22px;
        margin-top:-2px;
      }
    }

    .jcp-rw-order-item-label{
      font-size:14px;
      font-weight:normal;
      margin-bottom:4px;
    }
    input[type="password"]{
      width:100%;
      padding:4px;
      outline:none;
      border:1px solid #ccc;
      border-radius:2px;
    }
  }
  .jcp-rw-create-btn{
    padding:1rem;
    height:30px;
  	border-radius: 2px;
  	background-color: #cc0000;
  	box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.4);
    line-height:0;
    border:none;
    font-weight:bold;
  }
  .jcp-rw-skip-to-text{
    margin:8px 0 0 0;
  }
  .jcp-rw-create-account-btn-area{
    border:none;
    border-top:1px solid #ccc;
  }
}
.input-wrapper{
    label {
      color: #333;
      font-size: 1rem;
      position: relative;
      padding-left: 1.5rem;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      -webkit-font-smoothing: antialiased;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    input{
      display:none;
    }
    label:before,
    label:after{
       display: inline-block;
       position: absolute;
       left: 0;
       top:0;
       width: 1rem;
       height: 1rem;
       font-size: 1rem;
       color: #333;
       text-align: center;
       content: '';
       background-size:contain;
       background-position:center;
    }
    label:after{
        opacity: 0;
        transition: all .4s;
        -webkit-transition: all .4s;
    }
    input:checked+label:after{
        opacity:1;
    }

    input[type="checkbox"]+label:before {
        background-image: url(checkbox-off.svg);
    }
    input[type="checkbox"]+label:after {
        background-image: url(checkbox-on.svg);
    }
    input[type="radio"]+label:before {
        background-image: url(../img/icons/radio-off.svg);
    }
    input[type="radio"]+label:after {
        background-image: url(../img/icons/radio-on.svg);
    }
}
