.bopisCallouts .col {
  float: left;
  width: 32%;
  margin-left: 1%;
}
.bopisCallouts .col img {
  float: left;
  height: 50px;
  width: auto;
  width: 15%;
}
.bopisCallouts .col .email {
  height: 40px;
}
.bopisCallouts .col .txt {
  float: left;
  width: 80%;
  margin: 4px 0 0 8px;
}
.bopisCallouts .col .txt h4 {
  color: #03588C;
  font-size: 16px;
  margin: 0 0 4px 0;
}
.bopisCallouts .col .txt p {
  margin: 0;
  color: #666666;
  font-size: 12px;
}
