.promo_serial_form {
	font-size: 12px !important
}
.cr-container {
	width: 270px;
	max-width: 270px;
	font-size: 12px;
}
.cr-body{
	border: 1px solid #cccccc;
	padding-bottom: 20px;
}
#cr-header .header-sec-sec-child {
	display:inline-block; 
	width: 45%; 
	text-align: right;
	/*padding-left: 8px;*/
	border-left: 1px solid #cccccc
}
#cr-header .header-sec-sec-child-content{
	display:inline-block; text-align: left;font-size: 12px; color: #333333;font-weight:bold;line-height: 1.2;
}
#cr-header .header-sec-first-child {
	display:inline-block; 
	padding-left:15px;
	text-align: left;
	width: 40%; 
}
#cr-header .header-sec-first-child-content {
	display:inline-block; font-size: 12px; color: #333333;font-weight:bold;line-height: 1.2;
}
#cr-header .header-sec-first-child span, #cr-header .header-sec-sec-child-content span{
	color:#2060ca
}
.cr-couponapplied-container, .cr-rewardapplied-container, .cr-rewards-title-container, .cr-rewardavailable-container, .cr-rewards-heading{
	margin-top: 8px;
	float:none;
	padding: 0 16px 10px 11px;
}
.cr-rewardapplied-container, .cr-rewards-title-container {
	padding-bottom: 0px;
}
.cr-coupon input[type="text"] {
	width: 157px;
	height: 27px;
	background: #ffffff;
	border: solid 1px #cccccc;
	border-radius: 2px 0 0 2px;
}
.ui-autocomplete .ui-menu-item a{
	cursor:pointer;
}
.cr-coupon .cr-coupon-input-sec, .cr-serial .cr-coupon-input-sec{
	/*width:30%;*/
	text-align: right;
	float:right;
}
.cr-coupon input[type="button"] {
	width: 80px;
	height: 29px;
	border-radius:0 2px 2px 0;
	font-size: 12px;
}
.cr-coupon .cr-coupon-input-first, .cr-serial .cr-coupon-input-first  {
	width:65%;
	float:left;
}
.cr-coupon .cr-apply, .cr-coupon .cr-change, .cr-serial .cr-change, .cr-serial .cr-apply {
	background: #03588C;
	background-image: none;
	border-radius: 3px;
}
.cr-couponname, .cr-rewardname, .cr-rewardavalname {width: 50%;float:left}
.cr-rewardnumber {white-space:nowrap}

.cr-serial input[type="text"] {
	width: 194px;
	height: 30px;
	float: left;
}

.cr-serial .cr-apply {
	width: 80px;
	height: 29px;
	border-radius: 0 2px 2px 0;
	font-size: 12px;
	float:left;
}
.cr-heading-sec {
	float:left;
	 padding-top: 10px;
}
.cr-heading-bold {
	font-size: 14px;
    color: #333333;
    font-weight: bold;
}
.cr-subheading {
	float:right;
	margin-left: 10px;
}
.cr-couponapplied-container ul, .cr-rewardapplied-container ul, .cr-rewardavailable-container ul {
    float: none;
}
.cr-coupondetail-container li, .cr-rewarddetail-container li, .cr-rewardavaldetail-container li {
	float:none;
}
.cr-view-summary {
	padding: 10px 15px 35px 15px
}
.cr-view-summary div {
	float:right;
}
.cr-view-summary .cr-green-title {
	float:left;
}
.cr-green-title {
	font-size: 12px;
	color: #008a44;
}
.cr-couponprice, .cr-rewardprice, .cr-rewardavalprice {
	width: 21%;
}
.cr-view-text a {
	color: #2060ca;
}
.cr-rewarddetail-container > div.cr-rewardapplied-heading, .cr-rewarddetail-container > li {
	margin-left: 0px;	
}
.cr-rewardavailable-container{
	width: auto;
}
.cr-rewardavailable-container .cr-info-msg {
	
    border-color: #2060ca;
    color: #2060ca;
    background: #fafafa url("../images/info.svg") 0.75rem 0.75rem no-repeat;
    font-size: .75rem;
    margin-bottom: .5rem;
    margin-top: 0;
    padding: .5rem .5rem .5rem 2rem;
    background-size: 1rem 1rem;
    background-position: .5rem .5rem;
    border-radius: 2px;
}

.cr-info-msg .msg-icon { float:left; width: 5%;}
.cr-info-msg .msg-content{float:right; width: 88%}
.cr-rewardaval-error {
 margin:10px;
 border: 1px solid #2060ca;
 font-family: Helvetica;
 border-color: #2060ca;
 color: #2060ca;
 background: url(../images/info.svg) .75rem .75rem no-repeat #fafafa;
 font-size: .75rem;
 margin-bottom: .5rem;
 margin-top: 0;
 padding: .5rem .5rem .5rem 2rem;
 background-size: 1rem 1rem;
 background-position: .5rem .5rem;


}
.cr-captcha {
	margin: 0 auto;
	margin-bottom: -15px;
}
.cr-recaptcha{
	margin-left: 15px; 
	-ms-transform:scale(0.81);
	-ms-transform-origin:0 0;
	-webkit-transform:scale(0.81); 
	-webkit-transform-origin:0 0;
	transform:scale(0.81);
	transform-origin:0 0
}
.recaptcha_widget {
	margin: 15px auto;
	margin-bottom: -35px;
	margin-left: 15px; 
	-ms-transform:scale(0.78);
	-ms-transform-origin:0 0;
	-webkit-transform:scale(0.78); 
	-webkit-transform-origin:0 0;
	transform:scale(0.78);
	transform-origin:0 0
}
.cr-info-list ul {
	margin-top: -10px;
	/*margin-bottom: 20px;*/
}
.cr-captch-error {
	margin: 15px;
	margin-bottom: 0px;
}